[uwsgi]
plugins = python
socket = /run/uwsgi/app/nipap-wizard/socket
logto = /tmp/wizard-config.berlin.freifunk.net.log
master = true
processes = 2
pythonpath = /var/www/nipap-wizard/env/lib/python2.7/site-packages/
chdir = /var/www/nipap-wizard
uid = www-data
gid = www-data
module = manage:app
hook-asap = exec:mkdir -m 777 -p /run/uwsgi/app/%n/
